* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham Pro";
}

body {
  background: #e9f0f8;
}

.new-post .container {
  max-width: 1180px;
  margin: 0 auto;
}
.new-post .container .promo {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.new-post .container .promo aside {
  max-width: 290px;
  padding-top: 50px;
}
.new-post .container .promo aside .xeshteg {
  background: white;
  margin-top: 20px;
}
.new-post .container .promo aside .xeshteg .xeshteg-box {
  padding: 25px 30px;
}
.new-post .container .promo aside .xeshteg .xeshteg-box .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.new-post .container .promo aside .xeshteg .xeshteg-box .flex .item-felx {
  background: #E9F0F8;
  border-radius: 4px;
  padding: 7px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-post .container .promo aside .xeshteg .xeshteg-box .flex .item-felx span {
  font-size: 12px;
}
.new-post .container .promo aside .xeshteg .xeshteg-box h3 {
  font-size: 12px;
  text-transform: uppercase;
}
.new-post .container .promo aside .xeshteg .xeshteg-box hr {
  height: 0;
  border: 1px solid #f4f4f4;
  margin: 20px 0;
}
.new-post .container .promo aside .users {
  margin-top: 20px;
  background: white;
  padding: 25px 30px;
}
.new-post .container .promo aside .users .users-grid {
  margin-bottom: 20px;
}
.new-post .container .promo aside .users .users-grid .grid-elem:nth-child(3) {
  margin-bottom: 25px;
}
.new-post .container .promo aside .users .users-grid .grid-elem {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 14px 15px;
  border: 1px solid #F4F4F4;
  margin-top: 10px;
  border-radius: 6px;
}
.new-post .container .promo aside .users .users-grid .grid-elem h3 {
  font-size: 14px;
}
.new-post .container .promo aside .users .users-grid a {
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  color: #0275B1;
  text-decoration: none;
}
.new-post .container .promo aside .users hr {
  margin-top: 20px;
  height: 0;
  border: 1px solid #f4f4f4;
}
.new-post .container .promo aside .users .hed {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new-post .container .promo aside .users .hed span {
  text-transform: uppercase;
  font-size: 12px;
}
.new-post .container .promo aside .users .hed a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: #0275b1;
}
.new-post .container .promo aside .prom {
  padding-top: 20px;
}
.new-post .container .promo aside .prom .butt {
  background: white;
  padding: 20px 30px 23px 30px;
}
.new-post .container .promo aside .prom .butt button {
  width: 100%;
  height: 32px;
  background: #0077b5;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  border: 0;
  font-size: 12px;
}
.new-post .container .promo aside .sect {
  background: white;
}
.new-post .container .promo aside .prof {
  background-image: url(../img/asidebg.svg);
  padding-top: 70px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-post .container .promo aside .prof .prof-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.new-post .container .promo aside .prof .prof-img h3 {
  font-size: 14px;
  padding-top: 10px;
}
.new-post .container .promo aside .prof .prof-img p {
  font-size: 10px;
  padding: 10px 21px 26px 29px;
  text-align: center;
}
.new-post .container .promo aside .prof .prof-img .tex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.new-post .container .new-post-box {
  max-width: 850px;
  min-height: 135px;
  margin-top: 50px;
}
.new-post .container .new-post-box .div {
  display: flex;
  gap: 15px;
  align-items: center;
}
.new-post .container .new-post-box .user-box {
  max-width: 850px;
  min-height: 285px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
  margin-bottom: 20px;
  border-radius: 4px;
}
.new-post .container .new-post-box .user-box .like-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
}
.new-post .container .new-post-box .user-box .head {
  display: flex;
  align-items: center;
}
.new-post .container .new-post-box .user-box .head .likes {
  border-right: 1px solid #f4f4f4;
  min-height: 49px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 30px;
  cursor: pointer;
}
.new-post .container .new-post-box .user-box .head .com {
  border-right: 1px solid #f4f4f4;
  min-height: 49px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}
.new-post .container .new-post-box .user-box .share {
  display: flex;
  border-left: 1px solid #f4f4f4;
  min-height: 49px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 30px;
  cursor: pointer;
}
.new-post .container .new-post-box .user-box .coment p {
  padding: 0 30px;
  margin-bottom: 15px;
  font-size: 14px;
}
.new-post .container .new-post-box .user-box .coment span {
  padding: 15px 30px;
  font-size: 14px;
}
.new-post .container .new-post-box .user-box .coment img {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
}
.new-post .container .new-post-box .user-box .coment a {
  text-decoration: none;
  color: rgb(2, 117, 177);
  padding: 0 30px 20px 30px;
  font-size: 12px;
}
.new-post .container .new-post-box .user-box #xamro {
  height: 0;
  border: 1px solid #f4f4f4;
  margin-top: 20px;
}
.new-post .container .new-post-box .user-box hr {
  height: 0;
  border: 1px solid #f4f4f4;
}
.new-post .container .new-post-box .user-box .profil {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 30px;
}
.new-post .container .new-post-box .user-box .profil h4 {
  margin-bottom: 4px;
}
.new-post .container .new-post-box .user-box .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-post .container .new-post-box .user-box .title span {
  font-size: 10px;
  padding: 15px;
}
.new-post .container .new-post-box .user-box .title span a {
  text-decoration: none;
  color: rgb(2, 117, 177);
}
.new-post .container .new-post-box .user-box .title .sicle {
  display: flex;
  gap: 5px;
  padding: 19px;
}
.new-post .container .new-post-box .user-box .title .sicle .item {
  width: 2px;
  height: 2px;
  border: 2px solid #181818;
  border-radius: 50%;
  background: #000;
}
.new-post .container .new-post-box .href {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 35px;
}
.new-post .container .new-post-box .href span {
  font-size: 12px;
  color: black;
  text-transform: uppercase;
}
.new-post .container .new-post-box .href span a {
  color: #0275b1;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}
.new-post .container .new-post-box .boxs {
  padding: 25px 30px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
  border-radius: 4px;
}
.new-post .container .new-post-box .boxs hr {
  max-width: 790px;
  height: 0px;
  border: 1px solid #f4f4f4;
}
.new-post .container .new-post-box .boxs input {
  font-family: "Gotham Pro";
  font-size: 18px;
  border: 0;
}
.new-post .container .new-post-box .boxs form {
  margin-top: 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new-post .container .new-post-box .boxs form a {
  max-width: 24px;
  max-height: 24px;
  text-decoration: none;
}
.new-post .container .new-post-box .boxs form button {
  min-width: 32px;
  min-height: 32px;
  border: 0;
}
.new-post .container .new-post-box h3 {
  font-size: 12px;
  margin-bottom: 20px;
}